<div class="event-box">
  <h1>Create Event</h1>
</div>
<div class="event-box">
<form class="form-horizontal" action="/event" method="post">
  <input type="hidden" name="user_id" value="<%= @user.id%>">
  <div class="form-group">
    <label class="col-sm-2" for="name"><p>Name:</p></label>
    <input class="col-sm-6" type="text" name="name" id="name" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="date"><p>Date:</p></label>
    <input class="col-sm-6" type="datetime-local" name="date" id="date" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="location"><p>Location:</p></label>
    <input class="col-sm-6" type="text" name="location" id="location" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="capacity"><p>Capacity:</p></label>
    <input class="col-sm-6" type="number" name="capacity" min="1" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="description"><p>Description:</p></label>
    <input class="col-sm-6" type="text" name="description" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="image_url"><p>Image URL:</p></label>
    <input class="col-sm-6" type="text" name="image_url" value="">
  </div>
  <div class="form-group">
    <label class="col-sm-2" for="video_url"><p>Video URL:</p></label>
    <input class="col-sm-6" type="text" name="video_url" value="">
  </div>
    <a href="/home" class="btn btn-danger"><p>Cancel</p></a>
    <button class="btn btn-primary" type="submit"><p>Submit</p></button>
</form>

</div>
