<div class="col-sm-2">
</div>
<div class="col-sm-8">
  <div class="event-box">
    <h1>Sign In</h1>
  </div>
  <div class="event-box">
      <form class="form-horizontal" action="/user" method='post'>
        <label for="username"><p>Username:</p></label>
        <input class="form-control" id="username" name="username" type="text">
        <br/>
        <label for="password"><p>Password:</p></label>
        <input class="form-control" id="password" name="password" type="password" />
        <br>
        <button class="btn btn-primary" type="submit"><p>Log In</p></button>
      </form>
  </div>
  <div class="event-box">
    <h1>Sign Up</h1>
  </div>
  <div class="event-box">
      <form class="form-horizontal" action="/signup" method="post">
        <label for="username"><p>Username:</p></label>
        <input class="form-control" id="username" name="username" type="text" placeholder="Username" required><br />
        <label for="name"><p>Name:</p></label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Name" required><br />
        <label for="gender"><p>Gender:</p></label>
        <select class="form-control" id='gender' name='gender' type='text' required>
            <option value="Male"><p>Male</p></option>
            <option value="Female"><p>Female</p></option>
        </select><br />
        <label for="proPic"><p>Profile Photo:</p></label>
        <input class="form-control" id="profile_pic_url" name="image_url" type="text" placeholder="Profile Photo URL" required><br />
        <label for="dob"><p>Date of Birth:</p></label>
        <input class="form-control" id="dob" name="dob" type="date" required><br />
        <label for="password"><p>Password:</p></label>
        <input class="form-control" id="passowrd" name="password" type="password"  required/>
        <br>
        <button class="btn btn-primary" type="submit"><p>Sign Up</p></button>
      </form>
  </div>
</div>
<div class="col-sm-2">
</div>
