<% if @randomvid==0 %>
<video playsinline autoplay loop poster="chicken.jpg" id="bgvid">
    <source src="chicken.mp4" type="video/mp4">
</video>

<div id="jesus" class="text-center">

404 ERROR!!!! </br>

JESUS CHRIST! </br>

</br>

GIVE YOU A CHICKEN ATTACK!

</div>
<% else %>
<video playsinline autoplay loop poster="chicken.jpg" id="bgvid">
    <source src="Compliments.mp4" type="video/mp4">
</video>

<div id="jesus" class="text-center">

404 ERROR!!!! </br>

JESUS CHRIST! </br>

</br>

GIVE YOU A Compliments!

</div>
<% end %>
