body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.event-box {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 2px solid #000000;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

ul {
  margin: 5px;
}

h1 {
  font-family: 'Josefin Slab', serif;
}

h2, p {
  font-family: 'Righteous', cursive;
}

.buttonpad {
  margin-top: 7px;
}

.css-profile {
  height:150px;
  border: 2px solid #000000;
}

.css-eventimg {
  max-height: 350px;
  max-width: 320px;
}

.friendbar {
  position: relative;
  right: 10px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#jesus {
  z-index: 1;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px #000000;

}

@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
